<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aarondesign.healthgreen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".Application.SysApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="27d868675a1653bfc606b91bf0d32db8" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Acitivitys.Car"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Acitivitys.Home"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Acitivitys.Login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Acitivitys.Map"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Acitivitys.User"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Acitivitys.Register"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Acitivitys.Settings"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Acitivitys.Person"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Acitivitys.Welcome"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Acitivitys.Details"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Acitivitys.CarAdd"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Acitivitys.MapCarAdd"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Acitivitys.HomeNew"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Acitivitys.Setting1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>
